@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary_darkerShade-900 text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white;
  }
}

/* Removing overflow horizontally with the lines below. Answer found here (https://stackoverflow.com/questions/75982263/unable-to-freeze-the-scroll-after-setting-body-overflow-to-hidden-in-next-js) */

html {
  max-width: 100vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
